/*  your css code here. If applicable */
.middle {
            width: 100%;
            margin: 20px auto;
            border-collapse: collapse;
 }

.middle td{
     border: 1px solid black;
}
.center {
            text-align: center;
}

 .right {
            text-align: right;
 }
h1 {
    text-align: center;
}